<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>老南塘馄饨担</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
</head>
<body>
    <header class="mui-bar mui-bar-nav">
        <a id="backBtn" class="mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">店铺列表</h1>
        <a class="mui-icon mui-icon-plusempty mui-pull-right" id="newStoreBtn" style="font-weight: bold;"></a>
    </header>
    <div class="mui-content">
    	<ul class="mui-table-view" id="storeList">
    	</ul>
    </div>
    <script type="text/html" id="storeListTemp">
    	
		<% if(value.length > 0){ %>
		<% for(var i=0;i<value.length;i++){ %>
	    	<li class="store_li mui-table-view-cell mui-transitioning" storeId="<%=value[i].id%>">
	    		<div class="mui-slider-right mui-disabled">
	    			<a class="mui-btn mui-btn-red del-btn" storeId="<%=value[i].id%>">删除</a>
	    		</div>
	    		<div class="mui-slider-handle">
	    			<%=value[i].name%><br>
	    			<h5>(<%=value[i].typeName%>)</h5>
	    		</div>
	    	</li>
		<%}%>
		<%}%>
    </script>
    <script type="text/javascript" src="../../js/mui.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../js/jquery-3.3.1.min.js" ></script>
    <script type="text/javascript" src="../../js/template-web.js" ></script>
	<script type="text/javascript" src="/js/ljx.error.js" ></script>
    <script type="text/javascript">
    mui.init()
    $(function(){
    	getStoreList()
    })
    
	mui(document.body).on('tap', '#newStoreBtn', function(e) {
	    window.location.href = "/work/store/store_edit.html"
	});
	mui(document.body).on('tap', '#backBtn', function(e) {
	    window.location.href = "/main.html"
	});
	mui(document.body).on('tap', '.del-btn', function(e) {
		var btn = this;
	    var id = this.getAttribute("storeId")
	    mui.ajax("/store/delete",{
    		data:{
    			id:id
    		},
    		dataType:'json',
    		type:'post',
    		success:function(data){
    			if(data.succeed){
    				var li = btn.parentNode.parentNode;
    				var storeList = document.getElementById("storeList");
    				storeList.removeChild(li)
				}else{
					errorHandle(data);
				}
    		}
    	});
	});
    mui(document.body).on('tap', '.store_li', function(e) {
        var btn = this;
        var id = this.getAttribute("storeId");
        window.location.href = "/work/store/store_edit.html?id="+id
    });
    function getStoreList(){
    	mui.ajax("/store/listAll",{
    		data:{},
    		dataType:'json',
    		type:'get',
    		success:function(data){
    			if(data.succeed){
					var Carouselhtml = template('storeListTemp', data);
					$("#storeList").html(Carouselhtml);
				}else{
					errorHandle(data);
				}
    		}
    	});
    }
    </script>
</body>
</html>

