<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>老南塘馄饨担</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
    <link rel="stylesheet" href="../../plugin/picker/dist/css/mui.picker.min.css" />
    <link rel="stylesheet" href="../../fonts/iconfont.css" />
    <script type="text/javascript" src="../../js/ljx.cookie.js" ></script>
    <style>
    	.shaixuan-button-div{
    		width: 100%;
    		background-color: #007AFF;
    		position: fixed;
    		bottom: 0px;
    		text-align: center;
    		line-height: 60px;
    		color: white;
    		font-size: 20px;
    	}
    	.kuaijie-button-div{
    		width: 50%;
    		position: fixed;
    		bottom: 80px;
    		text-align: center;
    		line-height: 40px;
    		font-size: 20px;
    	}
    </style>
</head>
<body>
		<!-- 主界面不动、菜单移动 -->
		<!-- 侧滑导航根容器 -->
		<div class="mui-off-canvas-wrap mui-draggable mui-slide-in">
			<!-- 菜单容器 -->
			<aside class="mui-off-canvas-right" id="offCanvasSide" style="background-color: white;">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<!-- 菜单具体展示内容 -->
						<form class="mui-input-group">
						    <div class="mui-input-row">
						        <label style="width: 100%;">单据类型</label>
						    </div>
						    <div class="mui-input-row">
						    	<input type="hidden" id="type" value="0">
						    	<input type="text" id="typeName" class="mui-input-clear" placeholder="选择单据类型" style="text-align: center;" value="不限">
						    </div>
						    <div class="mui-input-row">
						        <label style="width: 100%;">开始时间</label>
						    </div>
						    <div class="mui-input-row">
						        <input type="text" id="beginDate" placeholder="开始时间" style="text-align: center;">
						    </div>
						    <div class="mui-input-row">
						        <label style="width: 100%;">结束时间</label>
						    </div>
						    <div class="mui-input-row">
						        <input type="text" id="endDate" placeholder="结束时间" style="text-align: center;">
						    </div>
						</form>
						<div>
							<button type="button" onclick="subtractDay()" class="mui-btn kuaijie-button-div">上一天</button>
							<button type="button" onclick="addDay()" class="mui-btn mui-btn-royal kuaijie-button-div" style="left: 50%;">下一天</button>
						</div>
						<div class="">
							<button type="button" onclick="pullNewList()" class="mui-btn mui-btn-primary shaixuan-button-div">确定</button>
						</div>
					</div>
				</div>
			</aside>
			<!-- 主页面容器 -->
			<div class="mui-inner-wrap">
				<!-- 主页面标题 -->
				<header class="mui-bar mui-bar-nav">
					<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
					<h1 class="mui-title" id="head-title">单据记录</h1>
					<a class="mui-pull-right" href="#offCanvasSide">
						<button class="mui-btn mui-btn-link mui-btn-nav mui-pull-right" style="color: #000000;">
							筛选
							<span class="iconfont icon-shaixuan"></span>
						</button>
					</a>
				</header>
				<div class="mui-content mui-scroll-wrapper">
					<!-- 主界面具体展示内容 -->
					<!--下拉刷新容器-->
					<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
					  <div class="mui-scroll">
					  	<input type="hidden" id="pullOddId" />
					  	<input type="hidden" id="pullOddId_up" />
					    <ul class="mui-table-view" style="margin-top: 50px;" id="list">
					    </ul>
					  </div>
					</div>
				</div>
				<div class="mui-off-canvas-backdrop"></div>
			</div>
		</div>
    <script type="text/html" id="listTemp">
		<% if(value.length > 0){ %>
		<% for(var i=0;i<value.length;i++){ %>
	    	<li class="mui-table-view-cell mui-transitioning edit-btn" recordId="<%=value[i].oddId%>" recordType="<%=value[i].type%>">
	    		<div class="mui-slider-right mui-disabled">
	    			<a class="mui-btn mui-btn-red del-btn" recordId="<%=value[i].oddId%>">删除</a>
	    			<% if(value[i].confirmFlag == 2){%>
	    				<a class="mui-btn mui-btn-primary confirme-btn confirm_<%=value[i].oddId%>" oddId="<%=value[i].oddId%>">确认</a>
	    			<%}%>
	    		</div>
	    		<div class="mui-slider-handle">
	    			<% if(value[i].confirmFlag == 2){%>
						<span class="mui-badge mui-badge-danger confirm_<%=value[i].oddId%>" style="float: left;margin-right: 5px;">未确认</span>
	    			<%}%>
					<span class="mui-badge mui-badge-purple mui-badge-inverted" style="float: left;"><%=value[i].dateStr%></span>
					<span class="mui-badge mui-badge-primary" style="float: left;margin-left: 5px;"><%=value[i].storeName%></span>
					<span class="mui-badge mui-badge-danger" style="float: left;margin-left: 5px;"><%=value[i].typeStr%></span>
					<% if(value[i].type==2){%>
					<span class="mui-badge mui-badge-success" style="float: left;margin-left: 5px;"><%=value[i].sendStoreName%></span>
					<%}%>
					<span style="float: right;color: #8f8f94;font-size: 14px;"><%=value[i].creatTimeStr%></span>
	    			<br>
	    			<h5><%-value[i].detailsStr%></h5>
	    		</div>
	    	</li>
		<%}%>
		<%}%>
    </script>
    <script src="../../js/mui.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="../../plugin/picker/dist/js/mui.picker.min.js" ></script>
    <script type="text/javascript" src="../../js/jquery-3.3.1.min.js" ></script>
    <script type="text/javascript" src="../../js/template-web.js" ></script>
    <script type="text/javascript" src="../../js/ljx.error.js" ></script>
    <script type="text/javascript">
    mui.init({
	  pullRefresh : {
	    container:"#refreshContainer",//下拉刷新容器标识，querySelector能定位的css选择器均可，比如：id、.class等
	    down : {
	      height:50,//可选,默认50.触发下拉刷新拖动距离,
	      auto: true,//可选,默认false.首次加载自动下拉刷新一次
	      contentdown : "下拉可以刷新",//可选，在下拉可刷新状态时，下拉刷新控件上显示的标题内容
	      contentover : "释放立即刷新",//可选，在释放可刷新状态时，下拉刷新控件上显示的标题内容
	      contentrefresh : "正在刷新...",//可选，正在刷新状态时，下拉刷新控件上显示的标题内容
	      callback :pullfresh //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
	    },
	    up : {
	      contentrefresh : "正在加载...",//可选，正在加载状态时，上拉加载控件上显示的标题内容
	      contentnomore:'没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
	      callback :pullfresh_up //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
	    }
	  }
	});
	     
	mui(document.body).on('tap', '.confirme-btn', function(e) {
		var btn = this;
		mui.confirm("是否确认无误", "确认配送单", ['确认', '取消'], function(e) {
			if(e.index == 0) {
				mui.ajax("/warehouserecord/confirmeRecord", {
					data: {
						oddId: btn.getAttribute("oddId")
					},
					dataType: 'json',
					type: 'post',
					success: function(data) {
						if(data.succeed) {
    						var li = btn.parentNode.parentNode;
    						$(".confirm_"+btn.getAttribute("oddId")).remove();
    						mui.swipeoutClose(li);
						} else {
							errorHandle(data);
						}
					}
				});
			}
		})
	});
	
	mui(document.body).on('tap', '.del-btn', function(e) {
		var btn = this;
	    var id = this.getAttribute("recordId")
	    mui.ajax("/warehouserecord/delete",{
    		data:{
    			oddId:id
    		},
    		dataType:'json',
    		type:'post',
    		success:function(data){
    			if(data.succeed){
    				var li = btn.parentNode.parentNode;
    				var list = document.getElementById("list");
    				list.removeChild(li)
				}else{
					errorHandle(data);
				}
    		}
    	});
	});
	
	var picker = new mui.PopPicker();
	var typePickData = [{value:'0',text:'不限'}
						,{value:'1',text:'销售'}
						,{value:'2',text:'配送'}
						,{value:'3',text:'报废'}
						,{value:'4',text:'采购'}
						,{value:'5',text:'消耗'}
						,{value:'6',text:'盘点'}
						,{value:'7',text:'生产'}];
	picker.setData(typePickData);
	mui(document.body).on('tap','#typeName', function(event) {
		picker.show(function(items) {
			$("#typeName").val(items[0].text);
			$("#type").val(items[0].value);
		});
	}, false);
	
    $("#beginDate").val(getFirstDayOfMonthFormat());
    var beginPicker = new mui.DtPicker({type:'date'}); 
	mui(document.body).on('tap','#beginDate', function(event) {
	    beginPicker.show(function (selectItems) { 
	    	var dd = selectItems.y.value+"-"+selectItems.m.value+"-"+selectItems.d.value
	    	$("#beginDate").val(dd);
	    })
	}, false);
	
    $("#endDate").val(getLastDayOfMonthFormat());
    var endPicker = new mui.DtPicker({type:'date'}); 
	mui(document.body).on('tap','#endDate', function(event) {
	    endPicker.show(function (selectItems) { 
	    	var dd = selectItems.y.value+"-"+selectItems.m.value+"-"+selectItems.d.value
	    	$("#endDate").val(dd);
	    })
	}, false);
	
//	从cookie读取参数,初始化参数
	var recordListCookie = getCookie("recordListCookie");
	if(recordListCookie != undefined){
		var cookiesValues = recordListCookie.split(",");
	    var type = cookiesValues[0];
		var beginDate = cookiesValues[1];
		var endDate = cookiesValues[2];
		if(type!=''){
			$("#type").val(type);
		}
		if(beginDate!=''){
			$("#beginDate").val(beginDate);
		}
		if(endDate!=''){
			$("#endDate").val(endDate);
		}
	}
	
	mui(document.body).on('tap', '.edit-btn', function(e) {
		var btn = this;
	    var id = this.getAttribute("recordId");
	    var type = this.getAttribute("recordType");
	    var beginDate = $("#beginDate").val();
	    var endDate = $("#endDate").val();
	    if(type==1){
        	window.location.href = "/work/saleout.html?oddId="+id
	    }else if(type==2){
        	window.location.href = "/work/sendout.html?oddId="+id
	    }else if(type==3){
        	window.location.href = "/work/scrap.html?oddId="+id
	    }else if(type==4){
	        window.location.href = "/work/purchase.html?oddId="+id
	    }else if(type==5){
	        window.location.href = "/work/consume.html?oddId="+id
	    }else if(type==6){
	        window.location.href = "/work/check.html?oddId="+id
	    }else if(type==7){
	        window.location.href = "/work/make.html?oddId="+id
	    }
	});
	
	function pullfresh_up() {
	     //业务逻辑代码，比如通过ajax从服务器获取新数据；
	     var pullOddId_up = $("#pullOddId_up").val();
	     var type = $("#type").val();
	     var beginDate = $("#beginDate").val();
	     var endDate = $("#endDate").val();
		mui.ajax("/warehouserecord/listPullUp",{
			data:{
				oddId:pullOddId_up,
				type:type,
				beginDate:beginDate,
				endDate:endDate
			},
			dataType:'json',
			type:'get',
			success:function (data){
				if(data.succeed){
					if(data.value.length>0){
						$("#pullOddId_up").val(data.value[data.value.length-1].oddId);
					}
					var Carouselhtml = template('listTemp', data);
					if(data.value.length>0){
	     				mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
					}else{
		     			mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
					}
					
					$("#list").append(Carouselhtml);
				}else{
	     			mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
					errorHandle(data);
				}
	     //注意，加载完新数据后，必须执行如下代码，注意：若为ajax请求，则需将如下代码放置在处理完ajax响应数据之后
	     //没有更多内容了，endPulldown 传入true， 不再执行下拉刷新
			}
		});
	}
	function pullfresh() {
	     //业务逻辑代码，比如通过ajax从服务器获取新数据；
	    var pullOddId = $("#pullOddId").val();
	    var type = $("#type").val();
	    var beginDate = $("#beginDate").val();
	    var endDate = $("#endDate").val();
		mui.ajax("/warehouserecord/listPull",{
			data:{
				oddId:pullOddId,
				type:type,
				beginDate:beginDate,
				endDate:endDate
			},
			dataType:'json',
			type:'get',
			success:function (data){
				if(data.succeed){
					if(data.value.length>0){
						$("#pullOddId").val(data.value[0].oddId);
					}
					if(data.value.length>0){
						$("#pullOddId_up").val(data.value[data.value.length-1].oddId);
					}
					var Carouselhtml = template('listTemp', data);
	     			mui('#refreshContainer').pullRefresh().endPulldownToRefresh(true);
					$("#list").prepend(Carouselhtml);
				}else{
	     			mui('#refreshContainer').pullRefresh().endPulldownToRefresh()
					errorHandle(data);
				}
	     //注意，加载完新数据后，必须执行如下代码，注意：若为ajax请求，则需将如下代码放置在处理完ajax响应数据之后
	     //没有更多内容了，endPulldown 传入true， 不再执行下拉刷新
			}
		});
	}
	function pullNewList(){
		$("#list").html("");
		mui('.mui-off-canvas-wrap').offCanvas('close');
	    //业务逻辑代码，比如通过ajax从服务器获取新数据；
	    var type = $("#type").val();
	    var beginDate = $("#beginDate").val();
	    var endDate = $("#endDate").val();
	    var recordListCookie = type+","+beginDate+","+endDate
	    setCookie("recordListCookie",recordListCookie);
		mui.ajax("/warehouserecord/listPull",{
			data:{
				oddId:"",
				type:type,
				beginDate:beginDate,
				endDate:endDate
			},
			dataType:'json',
			type:'get',
			success:function (data){
				if(data.succeed){
					if(data.value.length>0){
						$("#pullOddId").val(data.value[0].oddId);
					}
					if(data.value.length>0){
						$("#pullOddId_up").val(data.value[data.value.length-1].oddId);
					}
					var Carouselhtml = template('listTemp', data);
	     			mui('#refreshContainer').pullRefresh().endPulldownToRefresh(true);
					$("#list").prepend(Carouselhtml);
				}else{
	     			mui('#refreshContainer').pullRefresh().endPulldownToRefresh()
					errorHandle(data);
				}
	     //注意，加载完新数据后，必须执行如下代码，注意：若为ajax请求，则需将如下代码放置在处理完ajax响应数据之后
	     //没有更多内容了，endPulldown 传入true， 不再执行下拉刷新
			}
		});
	}
	function addDay(){
	    var beginDate = $("#beginDate").val();
	    var now = new Date(beginDate);
		now.setDate(now.getDate()+1);
		$("#beginDate").val(getFormatDate(now))
	    var endDate = $("#endDate").val();
	    var now1 = new Date(endDate);
		now1.setDate(now1.getDate()+1);
		$("#endDate").val(getFormatDate(now1))
		pullNewList()
	}
	function subtractDay(){
	    var beginDate = $("#beginDate").val();
	    var now = new Date(beginDate);
		now.setDate(now.getDate()-1);
		$("#beginDate").val(getFormatDate(now))
	    var endDate = $("#endDate").val();
	    var now1 = new Date(endDate);
		now1.setDate(now1.getDate()-1);
		$("#endDate").val(getFormatDate(now1))
		pullNewList()
	}
	//获取当前时间，格式YYYY-MM-DD
	var getFormatDate = function (date) {
	    var seperator1 = "-";
	    var year = date.getFullYear();
	    var month = date.getMonth() + 1;
	    var strDate = date.getDate();
	    if (month >= 1 && month <= 9) {
	        month = "0" + month;
	    }
	    if (strDate >= 0 && strDate <= 9) {
	        strDate = "0" + strDate;
	    }
	    var currentdate = year + seperator1 + month + seperator1 + strDate;
	    return currentdate;
	}
    </script>
</body>
</html>

