<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../css/mui.min.css"/>
    <link rel="stylesheet" href="../plugin/picker/dist/css/mui.picker.min.css" />
    <script type="text/javascript" src="../js/template-web.js" ></script>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
	    <a href="../main.html" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	    <h1 class="mui-title">盘点</h1>
	    <button type="button" class="mui-btn mui-btn-primary mui-pull-right" onclick="submit()" >确认</button>
	    <!--<a href="../main.html" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-right"></a>-->
	</header>
	<div class="mui-content">
		<div style="height: 20px;"></div>
    <form id="purchaseList" >
			<div class="mui-input-group">
        <div class="mui-input-row">
            <label id="userResult" style="width: 40%;">日期</label>
            <input type="text" class="mui-input-clear" style="width: 60%;" placeholder="选择日期" name="date" id="date">
    	</div>
    </div>
    </form>
	</div>
	
<script type="text/html" id="productList">
		<% if(value.length > 0){ %>
		<% for(var i=0;i<value.length;i++){ %>
			<div class="mui-input-group">
        <div class="mui-input-row">
            <label><%=value[i].name%>(<%=value[i].unit%>)</label>
			<div class="mui-numbox" style="width: 200px;" data-numbox-step='1' data-numbox-min='0' >
				<input type="hidden" name="listDetails[<%=i%>].productId" value="<%=value[i].id%>" />
				<input type="hidden" name="listDetails[<%=i%>].productName" value="<%=value[i].name%>" />
				<input type="hidden" name="listDetails[<%=i%>].unit" value="<%=value[i].unit%>" />
			  <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
			  <input class="mui-numbox-input details" type="number" name="listDetails[<%=i%>].num" value="0"/>
			  <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
			</div>
        </div>
        </div>
	<%}%>
	<%}%>
	<h5 style="margin: 5px;">备注：</h5>
	<div class="mui-input-row" style="margin: 10px 5px;">
		<textarea id="textarea" name="remark" rows="5" placeholder="备注"></textarea>
	</div>
</script>
	<script src="../js/mui.min.js"></script>
	<script type="text/javascript" src="../js/mui.numbox.float.js" ></script>
	<script type="text/javascript" src="../js/jquery-3.3.1.min.js" ></script>
	<script type="text/javascript" src="../plugin/picker/dist/js/mui.picker.min.js" ></script>
	<script type="text/javascript" src="/js/ljx.error.js" ></script>
    <script type="text/javascript">
    mui.init()
    $("#date").val(getNowFormatDate());
    var dtPicker = new mui.DtPicker({type:'date'}); 
    var sendStoreName = document.getElementById('date');
	sendStoreName.addEventListener('tap', function(event) {
    dtPicker.show(function (selectItems) { 
    	var dd = selectItems.y.value+"-"+selectItems.m.value+"-"+selectItems.d.value
    	$("#date").val(dd);
    })
	}, false);
    $(function(){
		//调用登陆方法，获取进货物品列表
		mui.ajax("/product/listAll",{
			data:{
				type:1
			},
			dataType:'json',
			type:'get',
			success:function (data){
				if(data.succeed){
					var Carouselhtml = template('productList', data);
					$("#purchaseList").append(Carouselhtml);
					mui('.mui-numbox').numbox();
				}else{
					errorHandle(data);
				}
			}
		});
   });
    var submit = function(){
    	var formData = $("#purchaseList").serializeArray();
		//调用登陆方法，验证登陆
		mui.ajax("/warehouserecord/addCheck",{
			data:formData,
			dataType:'json',
			type:'post',
			success:function (data){
				if(data.succeed){
					mui.toast("提交成功",{ duration:'long', type:'div' }) 
					window.location.href = "../main.html";
				}else{
					errorHandle(data);
				}
			}
		});
    }
    </script>
</body>
</html>

