<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>老南塘馄饨担</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../css/mui.min.css"/>
    <link rel="stylesheet" href="../plugin/picker/dist/css/mui.picker.min.css" />
    <script type="text/javascript" src="../js/template-web.js" ></script>
    <style>
    	.mui-input-row:hover{ background-color: #007aff;}
    	.mui-input-row:hover > label{color: white; }
    </style>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
	    <a href="../main.html" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	    <h1 class="mui-title">生产</h1>
	    <button type="button" data-loading-text="确认中" id="submit-btn" class="mui-btn mui-btn-primary mui-pull-right" >确认</button>
	    <!--<a href="../main.html" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-right"></a>-->
	</header>
	<div class="mui-content">
		<div style="height: 20px;"></div>
    <form id="purchaseList" >
			<div class="mui-input-group">
        <div class="mui-input-row">
            <label id="userResult" style="width: 40%;">日期</label>
            <input type="text" class="mui-input-clear" style="width: 60%;" placeholder="选择日期" name="date" id="date">
    	</div>
    	</div>
		<h5 style="margin: 5px;">生产半成品：</h5>
			<div class="mui-input-group">
        <div class="mui-input-row">
            <label id="makeProductLabel" style="color:#777777" >选择半成品</label>
            <input type="hidden" class="mui-input-clear" placeholder="选择半成品" name="makeProductName" id="makeProductName">
            <input type="hidden" id="makeProductId" name="makeProductId">
			<div class="mui-numbox" style="width: 140px;" data-numbox-step='1' data-numbox-min='0' >
			  <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
			  <input class="mui-numbox-input details" onblur="detail_blur(this)" type="number" name="makeNum" value="0"/>
			  <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
			</div>
    	</div>
    </div>
		<h5 style="margin: 5px;">原料：</h5>
		<div id="mList">
			<div class="mui-input-group">
        		<div class="mui-input-row">
        		</div>
        	</div>
		</div>
		
	<h5 style="margin: 5px;">备注：</h5>
	<div class="mui-input-row" style="margin: 10px 5px;">
		<textarea id="textarea" name="remark" rows="5" placeholder="备注"></textarea>
	</div>
    </form>
	</div>
	
<script type="text/html" id="productList">
		<% if(details.length > 0){ %>
			<div class="mui-input-group">
		<% for(var i=0;i<details.length;i++){ %>
        <div class="mui-input-row">
            <label><%=details[i].detail.name%>(<%=details[i].detail.unit%>)</label>
			<div class="mui-numbox" style="width: 140px;" data-numbox-step='1' data-numbox-min='0' >
				<input type="hidden" name="listDetails[<%=i%>].productId" value="<%=details[i].detail.id%>" />
				<input type="hidden" name="listDetails[<%=i%>].productName" value="<%=details[i].detail.name%>" />
				<input type="hidden" name="listDetails[<%=i%>].unit" value="<%=details[i].detail.unit%>" />
			  <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
			  <input class="mui-numbox-input details" onblur="detail_blur(this)" type="number" name="listDetails[<%=i%>].num" value="0"/>
			  <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
			</div>
        </div>
	<%}%>
        </div>
	<%}%>
</script>
	<script src="../js/mui.min.js"></script>
	<script type="text/javascript" src="../plugin/picker/dist/js/mui.picker.min.js" ></script>
	<script type="text/javascript" src="../js/mui.numbox.float.js" ></script>
	<script type="text/javascript" src="../js/jquery-3.3.1.min.js" ></script>
	<script type="text/javascript" src="/js/ljx.error.js" ></script>
    <script type="text/javascript">
    mui.init({
    })
    
	mui(document.body).on('tap', '#submit-btn', function(e) {
		var btn = this;
		mui(btn).button('loading');
		submit();
	});
    $("#date").val(getNowFormatDate());
    var dtPicker = new mui.DtPicker({type:'date'}); 
    var data = document.getElementById('date');
	data.addEventListener('tap', function(event) {
    dtPicker.show(function (selectItems) { 
    	var dd = selectItems.y.value+"-"+selectItems.m.value+"-"+selectItems.d.value
    	$("#date").val(dd);
    })
	}, false);
	var picker = new mui.PopPicker();
	//调用登陆方法，获配送门店列表
	mui.ajax("/product/listAll",{
		data:{
			types:[3]
		},
		dataType:'json',
		type:'get',
		success:function (data){
			var a = [];
			if(data.succeed){
				for(var i=0;i<data.value.length;i++){
					a.push({text:data.value[i].name,value:data.value[i].id});
				}
				picker.setData(a);
			}else{
				errorHandle(data);
			}
		}
	});
    var makeProductLabel = document.getElementById('makeProductLabel');
    var makeProductName = document.getElementById('makeProductName');
    var makeProductId = document.getElementById('makeProductId');
	makeProductLabel.addEventListener('tap', function(event) {
		picker.show(function(items) {
			if(items[0].value!=undefined){
				makeProductName.value = items[0].text;
				makeProductId.value = items[0].value;
				$("#makeProductLabel").css("color","#000000");
				makeProductLabel.innerHTML = items[0].text;
				getMList(items[0].value);
			}
		});
	}, false);
	
   	var tempValue; 
	mui(document.body).on('tap', '.details', function(e) {
		tempValue = $(this).val();
		$(this).val("");
	});
	var detail_blur = function(ob){
		if($(ob).val()==""){
			$(ob).val(tempValue);
		}
	}
    $(function(){
   });
   	var getMList = function(id){
		//调用登陆方法，获取进货物品列表
		mui.ajax("/product/find/"+id,{
			data:{},
			dataType:'json',
			type:'get',
			success:function (data){
				if(data.succeed){
					console.log(data);
					var Carouselhtml = template('productList', data.value);
					$("#mList").html(Carouselhtml);
					mui('.mui-numbox').numbox();
				}else{
					errorHandle(data);
				}
			}
		});
   	}
    var submit = function(){
    	var flag =checkForm();
    	if(!flag){
    		mui($("#submit-btn")).button('reset');
    		return; 
    	}
    	var formData = $("#purchaseList").serializeArray();
		//调用登陆方法，验证登陆
		mui.ajax("/warehouserecord/addMake",{
			data:formData,
			dataType:'json',
			type:'post',
			success:function (data){
				if(data.succeed){
					mui.toast("提交成功",{ duration:'long', type:'div' }) 
					window.location.href = "../main.html";
				}else{
					mui($("#submit-btn")).button('reset');
					errorHandle(data);
				}
			}
		});
    }
    var checkForm = function(){
    	if($("#makeProductName").val() == ''){
			mui.toast("门店：不能为空",{ duration:'long', type:'div' }) 
    		return false;
    	}
    	return true;
    }
    </script>
</body>
</html>

